<!DOCTYPE html>
<!--LOAD ESTATIC SE DEBE PONER SIEMPRE QUE SE DESEE AGREGAR ARCHIVOS STATICOS (CSS, JS, IMAGENES)-->
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--BOOTSTRAP-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

	<!--VINCULAR CSS DE LA CARPETA STATIC-->
	<link rel="stylesheet" href="{% static "./mail_diario/css/estilos.css" %}?v=1.1" />
	
	<title>E-reports</title>
</head>
<body>
	<div class="container">
		<div class="d-flex justify-content-center mt-5">
			<img src="https://portalracore.errepar.com/img/ReestructuracionAgendas/LogoErreparBlanco.png" alt="">
		</div>	
	</div>

	<section>
		
		<ul class="list-mails">
			<li><a href="">Impuestos</a></li>
			<li><a href="{% url 'e_laboral' %}">Laboral</a></li>
			<li><a href="">Sociedades </a></li>
			<li><a href="">Contabilidad</a></li>
			<li><a href="">Buenos Aires</a></li>
			<li><a href="">Córdoba</a></li>
			<li><a href="">Santa Fe</a></li>
			<li><a href="">Liquidación de sueldos</a></li>
			<li><a href="">Rural</a></li>			
		</ul>
		
	</section>
	
	<!--BOOTSTRAP-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>